@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  word-break: break-all;
  background-color: #fff;
  color: #000;
}

.top {
  background: linear-gradient(#91bfec, #268bca);
}

.top-wrap {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.top-wrap__left {
  text-align: center;
  width: 50%;
  margin: 12%;
}

.top-wrap__left__badge {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffcc33;
  margin-bottom: 5%;
}

.top-wrap__left__badge span {
  font-size: 2.5rem;
}

.top-wrap__left__ttl {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}

.top-wrap__left__lead {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  margin-top: 5%;
  margin-bottom: 8%;
}

.top-wrap__left__con {
  width: 70%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 3px 5px 8px rgb(0 0 0 / 25%);
  transition: all 0.2s;
}

.top-wrap__left__con:hover {
  transform: translateY(-3px);
}

.top-wrap__left__con a {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5%;
}

.top-wrap__left__con a img {
  width: 10%;
  margin-left: 5%;
}

.top-wrap__left__con a p {
  position: absolute;
  color: #268bca;
  font-size: 1.8rem;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-wrap__right {
  width: 50%;
  display: flex;
  position: relative;
}

.top-wrap__right__img__1 {
  width: 57.5%;
  aspect-ratio: 4 / 3;
  content: "";
  position: absolute;
  top: 48%;
  right: 70%;
}

.top-wrap__right__img__1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-wrap__right__img__2 {
  width: 50%;
  aspect-ratio: 9 / 16;
  content: "";
  position: absolute;
  top: 20%;
  left: 15%;
}

.top-wrap__right__img__2 img {
  width: 100%;
}

.pro {
  background-color: #fff;
}

.__inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 7.5% 15.5%;
}

.pro-wrap__ttl {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.pro-wrap__ttl span {
  font-size: 2.8rem;
  color: #268bca;
  display: inline-block;
  border-bottom: 3.5px dashed #268bca;
  padding-bottom: 4px;
}

.pro-wrap__con {
  margin-top: 6.5%;
}

.pro-wrap__con__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pro-wrap__con__block__txt__1 {
  width: 25%;
  background-color: #f1efef;
  border-radius: 10px;
  padding: 3% 2.5%;
  position: relative;
}

.pro-wrap__con__block__txt__1::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f1efef;
  border-radius: 50%;
  bottom: -45%;
  right: 15%;
}

.pro-wrap__con__block__txt__1::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f1efef;
  border-radius: 50%;
  bottom: -67%;
  right: 8%;
}

.pro-wrap__con__block__txt__1 p {
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.125rem;
}

.pro-wrap__con__block__txt__2 {
  width: 25%;
  background-color: #f1efef;
  border-radius: 10px;
  padding: 3% 2.5%;
  position: relative;
}

.pro-wrap__con__block__txt__2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f1efef;
  border-radius: 50%;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%, -50%);
}

.pro-wrap__con__block__txt__2::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f1efef;
  border-radius: 50%;
  bottom: -75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pro-wrap__con__block__txt__2 p {
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.125rem;
}

.pro-wrap__con__block__txt__3 {
  width: 25%;
  background-color: #f1efef;
  border-radius: 10px;
  padding: 3% 2.5%;
  position: relative;
}

.pro-wrap__con__block__txt__3::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f1efef;
  border-radius: 50%;
  bottom: -45%;
  left: 15%;
}

.pro-wrap__con__block__txt__3::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f1efef;
  border-radius: 50%;
  bottom: -67%;
  left: 8%;
}

.pro-wrap__con__block__txt__3 p {
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.125rem;
}

.pro-wrap__con__img {
  width: 10%;
  display: block;
  aspect-ratio: 9 / 16;
  margin: 0 auto;
  margin-top: 12.5%;
  margin-bottom: 3%;
}

.pro-wrap__con__img img {
  width: 100%;
}

.pro-wrap__mes {
  text-align: center;
  margin-bottom: 2%;
}

.pro-wrap__mes p {
  font-size: 1.8rem;
  font-weight: 500;
}

.pro-wrap__mes p span {
  font-weight: 700;
  background-color: #ffcc33;
}

.pro-wrap__txt {
  text-align: center;
}

.pro-wrap__txt p {
  font-size: 1.25rem;
  font-weight: 400;
}

.fea {
  background: linear-gradient(#91bfec, #268bca);
}

.fea-wrap__ttl {
  text-align: center;
  margin-bottom: 6.5%;
}

.fea-wrap__ttl h2 {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 700;
}

.fea-wrap__con__block {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  box-shadow: 3px 5px 8px rgb(0 0 0 / 25%);

}

.fea-wrap__con__block:nth-last-of-type(1) {
  flex-direction: row-reverse;
}

.fea-wrap__con__block__img {
  width: 45%;
  aspect-ratio: 3 / 2;
  border: 2px solid #d2d2d2;
  overflow: hidden;
}

.fea-wrap__con__block__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.fea-wrap__con__block__txt {
  width: 45%;
  background-color: #fff;
  padding: 3% 5%;
  border: 2px solid #d2d2d2;
}

.fea-wrap__con__block__txt h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #268bca;
  display: inline-block;
  border-bottom: 3px solid #268bca;
  padding-bottom: 4px;
}

.fea-wrap__con__block__txt h3 span {
  font-size: 3rem;
}

.fea-wrap__con__block__txt p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 6.5%;
}

.pri {
  background-color: #e8f4fc;
}

.pri-wrap__ttl {
  text-align: center;
  margin-bottom: 6.5%;
}

.pri-wrap__ttl h2{
  font-size: 2.8rem;
  font-weight: 700;
}

.pri-wrap__rec {
  text-align: center;
}

.pri-wrap__rec p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #268bca;
  margin-bottom: 1%;
}

.pri-wrap__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pri-wrap__con__block {
  width: 30%;
  border: 2px solid #d2d2d2;
  background-color: #fff;
}

.pri-wrap__con__block__ttl {
  text-align: center;
  font-size: 2.5rem;
  background-color: #f2f2f2;
}

.pri-wrap__con__block__ttl h3 {
  padding: 5% 8%;
}

.pri-wrap__con__block__ttl span {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 2%;
}

.pri-wrap__con__block__price {
  text-align: center;
  padding: 15% 5%;
}

.pri-wrap__con__block__price p {
  font-size: 1.25rem;
  font-weight: 700;
}

.pri-wrap__con__block__price p span {
  font-size: 1.8rem;
}

.pri-wrap__con__block__fea {
  background-color: #f2f2f2;
  text-align: center;
  margin: 3.0%;
  padding: 3.5%;
}

.pri-wrap__con__block__fea__list {
  display: inline-block;
  text-align: left;
  list-style: none;
}

.pri-wrap__con__block__fea__list__item {
  line-height: 2;
  font-size: 1.125rem;
}

.__center {
  border: 2px solid #268bca;
  width: 35%;
  background-color: #268bca;
}

.__center .pri-wrap__con__block__ttl {
  background-color: #fff;
}

.__center .pri-wrap__con__block__ttl h3 {
  color: #268bca;
}

.__center .pri-wrap__con__block__price p {
  color: #fff;
}

.__center .pri-wrap__con__block__fea {
  background-color: #fff;
}

.voi {
  background: linear-gradient(#91bfec, #268bca);
}

.voi-wrap__ttl {
  text-align: center;
  margin-bottom: 6.5%;
}

.voi-wrap__ttl h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
}

.voi-wrap__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6%;
}

.voi-wrap__con__block {
  background-color: #fff;
  padding: 2.5%;
}

.voi-wrap__con__block__img {
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.voi-wrap__con__block__img img {
  width: 100%;
  object-fit: cover;
}

.voi-wrap__con__block__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
  position: relative;
}

.voi-wrap__con__block__head::after {
  content: "";
  position: absolute;
  top: 0;
  right: 35%;
  height: 100%;
  border: 1px solid #d2d2d2;
}

.voi-wrap__con__block__head p {
  font-size: 1.5rem;
  font-weight: 500;
}

.voi-wrap__con__block__head span {
  font-size: 1.25rem;
  font-weight: 500;
}

.voi-wrap__con__block__txt p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8;
}

.faq-wrap__ttl {
  text-align: center;
}

.faq-wrap__ttl h2 {
  font-size: 2.8rem;
  font-weight: 700;
}

.faq-wrap__con__block {
  border: 2px solid #d2d2d2;
  margin-top: 5%;
}

.faq-wrap__con__block__top {
  background-color: #268bca;
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-wrap__con__block__top__txt {
  width: 50%;
  display: flex;
  align-items: center;
}

.faq-wrap__con__block__top__txt p {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}

.faq-wrap__con__block__top__txt span {
  font-size: 2.8rem;
  color: #fff;
  margin-right: 2%;
  font-weight: 500;
}

.faq-wrap__con__block__top__btn {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}

.faq-wrap__con__block__top__btn::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 1.5px;
  background: #268bca;
  top: 50%;
  right: 33.5%;
}

.faq-wrap__con__block__bottom {
  padding: 1.5%;
  display: flex;
  align-items: center;
}

.faq-wrap__con__block__bottom p {
  font-size: 1.25rem;
  font-weight: 400;
}

.faq-wrap__con__block__bottom span {
  font-size: 2.8rem;
  margin-right: 2%;
  font-weight: 400;
}

.con {
  background-color: #e8f4fc;
}

.con-wrap__ttl {
  text-align: center;
}

.con-wrap__ttl h2 {
  font-size: 2.8rem;
  margin-bottom: 1%;
  font-weight: 700;
}

.con-wrap__ttl p {
  color: #f11515;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 5%;
}

.con-wrap__con__form__block {
  display: flex;
  margin-bottom: 2.5%;
}

.con-wrap__con__form__block__left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.con-wrap__con__form__block__left p {
  font-size: 1.25rem;
  font-weight: 400;
}

.con-wrap__con__form__block__left span {
  color: #f11515;
  font-size: 1rem;
  margin-right: 6%;
}

.con-wrap__con__form__block__right {
  width: 60%;
}

.con-wrap__con__form__block__right input {
  width: 100%;
  height: 2.5rem;
  border: 2px solid #d2d2d2;
  font-size: 1.25rem;
}

.con-wrap__con__form__block__right textarea {
  width: 100%;
  height: 18rem;
  border: 2px solid #d2d2d2;
  font-size: 1.25rem;
}

.con-wrap__con__form__block__btn {
  margin: 0 auto;
  width: 20%;
}

.con-wrap__con__form__block__btn button {
  width: 100%;
  height: 3.5rem;
  cursor: pointer;
  background-color: #268bca;
  box-shadow: 3px 5px 8px rgb(0 0 0 / 25%);
  border: none;
  border-radius: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all 0.2s;
}

.con-wrap__con__form__block__btn button:hover {
  transform: translateY(-3px);
}

.footer-wrap {
  background-color: #268bca;
  padding: 3%;
  text-align: center;
}

.footer-wrap p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
}